.App {
    height: 100vh;
    display: flex;
    
  }
  
  .App__Aside {
    position: relative;
    width: 45%;
    background: linear-gradient(119.79deg, #FB1352 1.03%, #370EF7 116.89%);
    color: white;
  }

  h3{
    position: absolute;
    padding: 0 5%;
    left: 6%;
    top: 232px;

    /* font-family: Futura Hv BT; */
    font-size: 24px;
    line-height: 29px;
  }

  .Para{
    position: absolute;
    padding: 0 5%;
    
    left: 6%;
    top: 277px;
    
    /* font-family: Futura LT; */
    font-size: 18px;
    line-height: 25px;
    
  }
  
  .App__Form {
    width: 55%;
    background-color: white;
    padding: 25px 40px;
    overflow: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  
  
  .FormCenter {
    width: 70%;
    margin: auto;
    /* margin-bottom: 100px; */
  }


  .login{
    /* font-family: Futura Hv BT; */
    font-size: 18px;
    line-height: 22px;
    padding: 2% 0;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.84);
  }



  
  
  .FormField {
    /* margin-bottom: 40px; */
    padding: 2% 0;
    text-align: center;
    max-width: 100%;
    display: block;
  }
  .for{
    margin-top: 4%;
  }
  /* .btn-submit {

  } */
  
  .FormField__Label {
    display: block;
    text-transform: uppercase;
    font-size: .9em;
    color: black;
  }
  .FormField__Input {
    width: calc(100% - 40px);
    background-color: #F4F4F4;
    border: none;
    color: black;
    outline: none;
    /* border-bottom: 1px solid #445366; */
    font-size: 1.1em;
    font-weight: 600;
    padding: 15px 20px;
    margin-top: 10px;
    border-radius: 4px;
    display: block;
    max-width: 100%;
  }
  
  .FormField__Input::placeholder {
    color: rgba(0, 0, 0, 0.25);
  }

  .forget{
    text-decoration: none;
    color: rgba(97, 83, 245, 0.54);
  }
  .forget:hover{
    text-decoration: none;
    color: rgba(97, 83, 245, 0.54);
  }
  
  .FormField__Button {
    background-color: #6053F5;
    color: white;
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 10px 0px;
    font-size: 1.2em;
    /* margin-left: 20%; */
    width: 40%;
  }
  
  .FormField__Link {
    color: #66707D;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1.5px solid #225E62;
    padding-bottom: 5px;
  }
  
  .FormField__CheckboxLabel {
    color: #646F7D;
    font-size: .9em;
  }
  
  .FormField__Checkbox {
    position: relative;
    top: 1.5px;
  }
  
  .FormField__TermsLink {
    color: white;
    border-bottom: 1px solid #199087;
    text-decoration: none;
    display: inline-block;
    padding-bottom: 2px;
    margin-left: 5px;
  }

  .btn_link {
    height: 100%;
    color: #fff;
    /*background: #000;*/
    padding: 15px;
    width: 100%;
    min-width: 100%;
    display: block;
  }

.mr-20 {

}
.authError {
  color:red;
}
