.test{
    width:100%;
    height:auto;
    background:#fafafa;
    border-collapse:collapse;
    display:table;
}
.test-data,.test-result{
    padding:30px;
    padding-top:5px;
    border:1px solid #666;
    font-family: monospace;
    box-sizing: border-box;
    display:table-cell;
    white-space:pre-wrap;
}
.tr{
    display:table-row;
    background:#eee;
    line-height:40px;
}
.tc{
    display:table-cell;border:1px solid #333;
    text-align: center;
}