
.contest{
    width:25%;
    height:300px;
    margin:30px 4%;
    float:left;
    background:#fff;
    outline:3px solid transparent;
    border:2px solid transparent;
    text-align:center;
    transition:0.3s;
    box-sizing: border-box;
    box-shadow:0 0 25px rgba(0,0,0,0.1);
    cursor:pointer;
    position: relative;
}
.contest a{
    text-decoration:none;
    color:inherit;
}
.contest:hover{
    outline:3px solid #eee;
    border:2px solid #333;
}
.contest.ongoing{
    background: rgb(56,200,56);
    color: #fff;
    box-shadow: 0 0 25px rgba(56,250,56,0.6);
}
.contest.ongoing:hover{
    background: rgb(36,210,36);
    outline: 3px solid rgb(56,210,56);
    border: 2px solid #fff;
}
.contest.mock{
    background: rgb(230,230,46);
    color: #000;
    box-shadow: 0 0 25px rgba(230,230,46,0.6);
}
.contest.mock:hover{
    background: rgb(240,240,66);
    outline: 3px solid rgb(230,230,46);
    border: 2px solid #fff;
}
.contest-title{
    width:100%;
    height:60%;
    font-size:18px;
    padding:50px;
    transition:0.1s;
    box-sizing: border-box;
}
.contest:hover .contest-title{
    font-size:25px;
}
.contest-details{
    width:100%;
    height:40%;
    font-size:14px;
    padding:20px;
    box-sizing:border-box;
}
@media screen and (max-width:1080px){
  .contest{
    width:40%;
    margin:5%;
  }
}
@media screen and (max-width:760px){
  .contest{
    width:80%;
    margin:10%;
  }
}
.info-toggle{
    position:absolute;
    top:20px;
    left:20px;
    z-index:2;
    font-size:19px;
    cursor:default;
    opacity:0;
    transition:0.3s;
}
.contest:hover .info-toggle,.contest.active .info-toggle{
    opacity:1;
}
.contest.active .additional-info{
    display:block;
}
.contest.active .contest-details,.contest.active .contest-title{
    display:none;
}
.additional-info{
    display:none;
    position:absolute;
    z-index:1;
    width:100%;
    height:100%;
    padding:50px;
    box-sizing:border-box;
}