.add-admin{
    width: 100%;
    background: white;
}

.addAdmin_header {
    height: 15%;
    width: 100%;
    background: #6053F5;
    color: white;
    font-size: 14px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 64px;
    max-height: 64px;
}

.new_admin{
    padding-left: 2%;
    font-size: 14px;
    font-weight: bold;
}

.addAdmin_body{
    padding: 5%;
}

.adminDetail {
    font-size: 16px;
    color: #6053F5;
}

.adminfield{
    border: 1px solid rgba(96, 83, 245, 0.54);
    box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.05);
    border-radius: 0;
    outline: 0;
    max-height: 28px;
}

.adminfield:focus{
    box-shadow: 0 0 0 0 white;
    border-color: #6053F5;
}

.cancel {
    min-width: 128px;
    min-height: 40px;
    background: #EFEFEF;
    font-size: 14px;
    color: #B1B1B1;
    border: 0;
    border-radius: 0;
    font-weight: bold;
}

.create{
    min-width: 128px;
    min-height: 40px;
    background: #6053F5;
    font-size: 14px;
    color: white;
    border: 0;
    border-radius: 0;
    font-weight: bold;
}






#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}