.outer {
    width: 100%;
    display: flex;
    background: rgba(193, 193, 209, 0.14);
}



.main{
    width: 15%;
    height: 100%;
    min-width: 180px;
    padding: 0; 
    padding-top: 20px;
    padding-bottom: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: auto;
    /*background: rgba(193, 193, 209, 0.14);*/
}

.mainAside{
    width: 100%;
}

.mainAside_header {
    height: 15%;
    width: 100%;
    background: #6053F5;
    color: white;
    font-size: 14px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 64px;
    max-height: 64px;
}

.new_client{
    padding-left: 2%;
    font-size: 14px;
    font-weight: bold;
}

.mainAside_body{
    padding: 5%;
}

.clientDetail {
    font-size: 16px;
    color: #6053F5;
}

.field{
    border: 1px solid rgba(96, 83, 245, 0.54);
    box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.05);
    border-radius: 0;
    outline: 0;
    max-height: 28px;
}

.field:focus{
    box-shadow: 0 0 0 0 white;
    border-color: #6053F5;
}

.upload {
    background: #D3D3D3;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.08);
    color: rgba(0, 0, 0, 0.74);
    border: 0;
    border-radius: 0;
    min-width: 118px;
    cursor: pointer;
}

.upload:hover{
    background: #D3D3D3;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.08);
    color: rgba(0, 0, 0, 0.84);
    border: 0;
    border-radius: 0;
}

.upload:focus{
    background: #D3D3D3;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.08);
    color: rgba(0, 0, 0, 0.84);
    border: 0;
    border-radius: 0;
}

.cancel {
    min-width: 128px;
    min-height: 40px;
    background: #EFEFEF;
    font-size: 14px;
    color: #B1B1B1;
    border: 0;
    border-radius: 0;
    font-weight: bold;
}

.create{
    min-width: 128px;
    min-height: 40px;
    background: #6053F5;
    font-size: 14px;
    color: white;
    border: 0;
    border-radius: 0;
    font-weight: bold;
}
input[type="file"] {
    display: none;
}

.projAside {
    width: 22vw;
    padding: 0;
    background: #FFFFFF;
    box-shadow: 4px 0px 16px rgba(0, 0, 0, 0.12);
    overflow: scroll  ;
}

.projAside::-webkit-scrollbar { 
    display: none; 
} 

.projHeader{
    display: flex;
    justify-content: space-between;
    height: 15%;
    width: inherit;
    max-width: 21.6vw;
    background: #6053F5;
    color: white;
    font-size: 14px;
    min-height: 64px;
    max-height: 64px;
    position: fixed;
    z-index: 100;
    /* width: -webkit-fill-available; */
    /* min-width: 220px;
    max-width: 248px; */
}

.projHeader_fake{
    display: flex;
    justify-content: space-between;
    height: 15%;
    width: 100%;
    background: #6053F5;
    color: white;
    font-size: 14px;
    min-height: 64px;
    max-height: 64px;
}

.projHeaderName{
    padding-left: 8%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.projList {
    padding: 0;
    margin: 0;
    /* padding-left: 8%; */
    font-size: 14px;
    font-weight: bold;
}

.addIcon{
    margin-right: 10%;
    display: flex;
    color: #6053F5;
    flex-direction: column;
    /* background: white; */
    justify-content: center;
}

.addIconInside {
    background: white;
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 50%;
}

.addIconInside span{
    font-size: x-large;
}

.cards{
    /* padding: 8%;
    overflow: scroll; */
}

.cardLayout {
    margin:8%;
    border: 1px solid #6153F5;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.24);
}
.cardSub{
    font-size: 12px;
}

.cardTitle {
    font-size: 18px;
    font-weight: bold;
}

.cardText {
    font-size: 14px;
}

.tag {
    border: 0.75px solid #6053F5;
    box-sizing: border-box;
    border-radius: 14px;
    width: 122px;
    height: 28px;
    text-align: center;
}

.tag span {
    color: #6053F5;
    font-size: 14px;
}

.addTask {
    width: 58vw;
}

.taskHeader {
    height: 15%;
    min-height: 64px;
    max-height: 64px;
    position: relative;
    border-bottom: 0.75px solid #C4C4C4;
}

.column {
    position: fixed;
    padding-left: 0;
    /* right: ; */
    padding: 0;
    margin: 0;
    width: 23.35vw;
}

.add_task{
    background: #6053F5;
    color: white;
    border: 0;
    outline: 0;
    cursor: pointer;
    max-width: 125px;
    width: 20vw;
    height: 100%;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
    /* font-weight: bold; */
    font-size: 14px;
    float: right;
    
}

.add_task span{
    font-weight: bold;
    font-size: large;
}

.basic{
    padding: 2% 7%;
}

.formLabel {
    color: #6053F5;
    font-size: 12px;
    font-weight: bold;
    padding-right: 75%;
}


.nameField {
    border-radius: 0;
    outline: 0;
    max-height: 42px;
    max-width: 620px;
}

.desField {
    border-radius: 0;
    outline: 0;
    max-height: 93px;
    max-width: 620px;
}
.formGroup {
    margin-top: 6vh;
}

.addMember {
    border-radius: 0;
    border: 0;
    background: #FFFFFF;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.05);
    outline: 0;
    max-height: 36px;
    max-width: 520px;
}

.addMember::placeholder{
    color: #6053F5;
}

[list]::-webkit-calendar-picker-indicator {
    display: none;
  }

.selected {
    border: 0.75px solid #6053F5;
    box-sizing: border-box;
    border-radius: 14px;
    width: 175px;
    height: 28px;
    text-align: center;
}

.selected span {
    color: #6053F5;
    font-size: 14px;
}