.icon-component{
    width:100%;
    height:50px;
    text-align:center;
    line-height:50px;
    transition:0.3s;
    overflow:hidden;
    cursor:pointer;
}
.icon-component:hover .icon,.icon-component:hover .title{
    background:#eee;
}
.icon{
    height:100%;
    float:left;
    background:#fff;
    min-width:60px;
}
.title{
    width:calc(100% - 60px);
    background:#fff;
    display:none;
    float:right;
    text-align:left;
    padding:0 30px;
    box-sizing: border-box;
}
.sidebar.active .title{
    display:block;
}