.sidebar{
    width:7%;
    height:100%;
    box-shadow:0 0 10px rgba(0,0,0,0.3);
    float:left; 
    background: black;
    /* transition:0.3s; */
    min-width: 70px;
}

.logo{
    /* height: 8%; */
    width: 100%;
    padding: 30%;
    cursor: pointer;
}