.para_client{
    font-size: 14px;
    line-height: 14px;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 600; 
    /* opacity: 0.84; */
    margin: 2% 0 0 10%;
}

.add_new{
    background: #6053F5;
    color: white;
    border: 0;
    outline: 0;
    cursor: pointer;
    width: 70%;
    height: 5%;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
    /* font-weight: bold; */
    font-size: 14px;
    min-height: 28px;
    max-height: 28px;
    margin-left: 15%;
    margin-top: 10%;
}

.add_new span{
    font-weight: bold;
    font-size: large;
}

.client_list{
    font-size: 16px;
    line-height: 30px;
    /* display: flex; */
    align-items: center;
    text-align: center;
    color: rgba(0, 0, 0, 0.54);
}

.listTab {
    min-height: 45px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.listTab:hover {
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
}

.listTab:focus {
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
}

.listTab:active {
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
}

.active .listTab {
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
}