
body,html {
    margin: 0;
    padding: 0;
    height:100%;
    width:100%;
    font-family: 'Muli', sans-serif;
    overflow: hidden;
}
.App,#root{
    height:100%;
    width:100%;
}
.App{
    display:flex;
}

a{
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
}